# 日志文件
*.log
*.log.gz

# 临时文件
*.tmp
*.bak
*.swp

# Python 缓存
__pycache__/
*.pyc

# 敏感配置（不要提交密码）
.env
*.secret

# 打包临时文件
*.tar.gz

# 本地其他脚本（不上传到 GitHub）
alert/
common/
dm/
goldendb/
mysql/
oracle/
tdsql/
vastbase/
check_polardb_backup.sh
check_ssh_permission.sh
rdb_info_collect.sh
