<html>
	<body>
		<div>
			<div>
				<span>告警名称：</span>
				<span>{{rule.name}}</span>
			</div>
			<div>
				<span>告警级别：</span>
				<span>{{rule.level.description}}</span>
			</div>
			<div>
				<span>告警时间：</span>
				<span>{{trigger_datetime.strftime('%Y-%m-%d %H:%M:%S')}}</span>
			</div>
			<div>
				<span>告警内容：</span>
				<span>{{content}}</span>
			</div>
		</div>
		<div>
			<div>详情信息：</div>
			<div>
				<ul>
					<li><span>任务ID：</span><span>{{query.id}}</span></li>
					<li><span>任务类型：</span><span>{{query.task_type}}</span></li>
					<li><span>任务状态：</span><span>{{query.task_status}}</span></li>
					<li><span>数据库类型：</span><span>{{query.resource_type}}</span></li>
					<li><span>任务开始时间：</span><span>{{query.start_time.strftime('%Y-%m-%d %H:%M:%S')}}</span></li>
					<li><span>任务结束时间：</span><span>{{query.end_time.strftime('%Y-%m-%d %H:%M:%S') if query.end_time else ''}}</span></li>
					<li><span>任务用时：</span><span>{{query.use_time if query.end_time else ''}}</span></li>
					<li><span>关联对象：</span><span>{{query.obj_name}}</span></li>
				</ul>
			</div>
		</div>
		<div>
			<p>
			    <span>详细信息：</span>
			    <span><a href="url">{{url}}</a></span>
			</p>
		</div>
	</body>
</html>