<html>
	<body>
		<div>
			{% if warning %}
                <div style="background-color: #fff3cd; padding: 10px; border-left: 5px solid #f0ad4e; margin-top: 10px; margin-bottom: 20px;">
                    <span style="font-weight: bold; color: #d9534f;">提示：</span>
                    <span style="color: #d9534f;">{{ warning }}</span>
                </div>
            {% endif %}
			<div>
				<span>告警名称：</span>
				<span>{{rule.name}}</span>
			</div>
			<div>
				<span>发送内容：</span>
				<span>{{content}}</span>
			</div>
		</div>
	</body>
</html>